                    
                    
                    
                    /* ACCOUNTCARD */



.account-card{
    background-color: #FFF;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 15rem;
    width: 30%;
    border-radius: 3px;
    margin: 0.75rem 0.75rem;
    box-shadow: 4px 8px 10px rgba(0,0,0,0.3);
}
.account-card-title{
    color: #666;
    align-self: center;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.account-card-balance, .account-card-apr, .account-card-interest{
    color: #777;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 0.9rem;
}
.strong{
    color: #272727;
    font-weight: 600;
}
.account-card-btn-wrap{
    /* background-color: aquamarine; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 7rem;
}
.account-card-statement-btn {
    background-color: rgb(69, 112, 101);
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 6rem;
    height: 2.5rem;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
}
.account-card-statement-btn:hover, .account-card-delete-btn:hover{
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}
.account-card-delete-btn{
    background-color: red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 3px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
}